:root {
    --color-principal: #7669bb;
    --color-blanco: #dee2e0;
    --color-negro: #242424;
    --color-grisoscuro: #333333;
}


h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
    color: var(--color-blanco);
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--clr-white);
}

.titulohead{
    display: flex;
    align-items: center;
    width: 900px;
    margin-right: 600px;
}

.logonav{
    width: 60px;
}

.wrapper{
    background-image: url('../assets/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px 0px 50px 0px;
}

.menuprincipal{
    padding: 100px;
    display: flex;
}

.textomenu{
    background-image: url('../assets/fondo5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem;
}

.dukihome{
    width: 550px;
}


/* Footer */

footer{
    background-color: var(--color-principal);
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.textofooter{
    font-size: 12px;
}

i{
    color: var(--color-blanco);
}
